exportPattern("^[[:alpha:]]+")

import(MASS)
import(mvtnorm)
importFrom("stats","as.formula","contrasts",
"gaussian","model.extract","model.matrix",
"nobs","quantile")
importFrom("stats", "model.frame", "model.response")

S3method(print,MGee)
S3method(print,summary.MGee)
S3method(summary,MGee)

S3method(print,PGee)
S3method(print,summary.PGee)
S3method(summary,PGee)

S3method(print,CVfit)


